<ul th:fragment="sidebar (page)" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
    id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon">
            <i class="fab fa-telegram-plane"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Tourio</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link active" href="#" data-toggle="collapse" data-target="#dashboard-collapse"
           aria-expanded="true" aria-controls="dashboard">
            <i class="fas fa-fw fa-tachometer-alt fa-fw"></i>
            <span>Report</span></a>
        <div id="dashboard-collapse" class="collapse show" aria-labelledby="dashboard" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" th:classappend="${page == 'employee/report' ? 'active' : ''}"
                   href="/employee/report">Employee Report</a>
                <a class="collapse-item" th:classappend="${page == 'tour/report' ? 'active' : ''}"
                   href="/tour/report">Tour Report</a>
                <a class="collapse-item" th:classappend="${page == 'group/report' ? 'active' : ''}"
                   href="/group/report">Group Report</a>
            </div>
        </div>
    </li>

    <!--    &lt;!&ndash; Divider &ndash;&gt;-->
    <!--    <hr class="sidebar-divider">-->

    <!--    &lt;!&ndash; Heading &ndash;&gt;-->
    <!--    <div class="sidebar-heading">-->
    <!--        Interface-->
    <!--    </div>-->

    <!--    &lt;!&ndash; Nav Item - Pages Collapse Menu &ndash;&gt;-->
    <!--    <li class="nav-item">-->
    <!--        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"-->
    <!--           aria-expanded="true" aria-controls="collapseTwo">-->
    <!--            <i class="fas fa-fw fa-cog"></i>-->
    <!--            <span>Components</span>-->
    <!--        </a>-->
    <!--        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">-->
    <!--            <div class="bg-white py-2 collapse-inner rounded">-->
    <!--                <h6 class="collapse-header">Custom Components:</h6>-->
    <!--                <a class="collapse-item" href="buttons.html">Buttons</a>-->
    <!--                <a class="collapse-item" href="cards.html">Cards</a>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </li>-->

    <!--    &lt;!&ndash; Nav Item - Utilities Collapse Menu &ndash;&gt;-->
    <!--    <li class="nav-item">-->
    <!--        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"-->
    <!--           aria-expanded="true" aria-controls="collapseUtilities">-->
    <!--            <i class="fas fa-fw fa-wrench"></i>-->
    <!--            <span>Utilities</span>-->
    <!--        </a>-->
    <!--        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"-->
    <!--             data-parent="#accordionSidebar">-->
    <!--            <div class="bg-white py-2 collapse-inner rounded">-->
    <!--                <h6 class="collapse-header">Custom Utilities:</h6>-->
    <!--                <a class="collapse-item" href="utilities-color.html">Colors</a>-->
    <!--                <a class="collapse-item" href="utilities-border.html">Borders</a>-->
    <!--                <a class="collapse-item" href="utilities-animation.html">Animations</a>-->
    <!--                <a class="collapse-item" href="utilities-other.html">Other</a>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </li>-->

    <!--    &lt;!&ndash; Divider &ndash;&gt;-->
    <!--    <hr class="sidebar-divider">-->

    <!--    &lt;!&ndash; Heading &ndash;&gt;-->
    <!--    <div class="sidebar-heading">-->
    <!--        Addons-->
    <!--    </div>-->

    <!--    &lt;!&ndash; Nav Item - Pages Collapse Menu &ndash;&gt;-->
    <!--    <li class="nav-item">-->
    <!--        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"-->
    <!--           aria-expanded="true" aria-controls="collapsePages">-->
    <!--            <i class="fas fa-fw fa-folder"></i>-->
    <!--            <span>Pages</span>-->
    <!--        </a>-->
    <!--        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">-->
    <!--            <div class="bg-white py-2 collapse-inner rounded">-->
    <!--                <h6 class="collapse-header">Login Screens:</h6>-->
    <!--                <a class="collapse-item" href="login.html">Login</a>-->
    <!--                <a class="collapse-item" href="register.html">Register</a>-->
    <!--                <a class="collapse-item" href="forgot-password.html">Forgot Password</a>-->
    <!--                <div class="collapse-divider"></div>-->
    <!--                <h6 class="collapse-header">Other Pages:</h6>-->
    <!--                <a class="collapse-item" href="404.html">404 Page</a>-->
    <!--                <a class="collapse-item" href="blank.html">Blank Page</a>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </li>-->

    <!-- Nav Item - Customer -->
    <li class="nav-item" th:classappend="${page == 'customer' ? 'active' : ''}">
        <a class="nav-link" href="/customer">
            <i class="fas fa-users fa-fw"></i>
            <span>Customer</span></a>

    </li>

    <!-- Nav Item - Employee -->
    <li class="nav-item" th:classappend="${page == 'employee' ? 'active' : ''}">
        <a class="nav-link" href="/employee">
            <i class="fas fa-address-book fa-fw"></i>
            <span>Employee</span></a>
    </li>

    <!-- Nav Item - Location -->
    <li class="nav-item" th:classappend="${page == 'group' ? 'active' : ''}">
        <a class="nav-link" href="/group">
            <i class="fas fa-flag fa-fw"></i>
            <span>Group</span></a>
    </li>

    <!-- Nav Item - Tour -->
    <li class="nav-item" th:classappend="${page == 'tour' ? 'active' : ''}">
        <a class="nav-link" href="/tour">
            <i class="fas fa-flag fa-fw"></i>
            <span>Tour</span></a>
    </li>

    <!-- Nav Item - Location -->
    <li class="nav-item" th:classappend="${page == 'location' ? 'active' : ''}">
        <a class="nav-link" href="/location">
            <i class="fas fa-map-marked-alt fa-fw"></i>
            <span>Location</span></a>
    </li>

    <!-- Nav Item - Job -->
    <li class="nav-item" th:classappend="${page == 'job' ? 'active' : ''}">
        <a class="nav-link" href="/job">
            <i class="fas fa-people-arrows fa-fw"></i>
            <span>Job</span></a>
    </li>

    <!-- Nav Item - Cost Type -->
    <li class="nav-item" th:classappend="${page == 'cost-type' ? 'active' : ''}">
        <a class="nav-link" href="/cost-type">
            <i class="fas fa-dollar-sign fa-fw"></i>
            <span>Cost Type</span></a>
    </li>

    <!-- Nav Item - Tour Type -->
    <li class="nav-item" th:classappend="${page == 'tour-type' ? 'active' : ''}">
        <a class="nav-link" href="/tour-type">
            <i class="fas fa-map-marked-alt fa-fw"></i>
            <span>Tour Type</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>