<th:block th:fragment="table (title, thead, tbody)">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary" th:text="${title}"></h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead><tr th:replace="${thead}"></tr></thead>
                    <tbody th:replace="${tbody}"></tbody>
                </table>
            </div>
        </div>
    </div>
</th:block>
