<th:block th:insert="Layouts/main :: main(title='Tour', pageName='tour', content=~{:: .container-fluid})">
    <div class="container-fluid">
        <div class="row">
            <div th:replace="Layouts/create_button::btn('Tour', 'tour')"></div>

            <div th:replace="Layouts/date_range::inp"></div>
        </div>

        <th:block th:insert="Layouts/table::table(title='Tour', thead=~{:: #th}, tbody=~{:: #tb})">
            <tr id="th">
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Tour Type</th>
                <th>Location</th>
                <th>Prices</th>

                <th class="fit">Operations</th>
            </tr>
            <th:tbody id="tb" th:each="tour : ${tours}">
                <tr>
                    <td th:text="${tour.getId()}"></td>
                    <td th:text="${tour.getName()}"></td>
                    <td th:text="${tour.getDescription()}"></td>
                    <td th:text="${tour.getTourType().getName()}"></td>
                    <td th:text="${tour.getTourLocationRels().size()}"></td>
                    <td th:text="${tour.getTourPrices().size()}"></td>
                    <td class="fit">
                        <div th:replace="Layouts/update_button::btn(id=${tour.getId()}, name=${tour.getName()}, path='tour')"></div>
                        <div th:replace="Layouts/delete_button::btn (id=${tour.getId()}, name=${tour.getName()}, path='tour')"></div>
                    </td>
                </tr>
            </th:tbody>
        </th:block>
    </div>
</th:block>
