<th:block th:insert="Layouts/main :: main(title='Tour', pageName='tour/report', content=~{:: .container-fluid})">
    <div class="container-fluid">
        <div class="row mb-3">
            <div class="offset-6"></div>
            <div th:replace="Layouts/date_range::inp"></div>
        </div>

        <th:block th:insert="Layouts/table::table(title='Tour', thead=~{:: #th}, tbody=~{:: #tb})">
            <tr id="th">
                <th>ID</th>
                <th>Name</th>
                <th>Tour Type</th>
                <th>Group Count</th>
                <th>Total Sale</th>
                <th>Total Cost</th>
                <th>Revenue</th>
            </tr>
            <th:tbody id="tb" th:each="tour : ${tours}">
                <tr>
                    <td th:text="${tour.getId()}"></td>
                    <td th:text="${tour.getName()}"></td>
                    <td th:text="${tour.getTourType().getName()}"></td>
                    <td th:text="${tour.getGroupCount()}"></td>
                    <td th:text="${#numbers.formatCurrency(tour.getTotalSale())}"></td>
                    <td th:text="${#numbers.formatCurrency(tour.getTotalCost())}"></td>
                    <td th:text="${tour.getRevenue() + '%'}"></td>
                </tr>
            </th:tbody>
        </th:block>
    </div>
</th:block>
