<th:block th:insert="Layouts/main :: main(title='Group', pageName='group', content=~{:: .container-fluid})">
    <div class="container-fluid">
        <div class="row">
            <div th:replace="Layouts/create_button::btn('Group', 'group')"></div>

            <div th:replace="Layouts/date_range::inp"></div>
        </div>

        <th:block th:insert="Layouts/table::table(title='Group', thead=~{:: #th}, tbody=~{:: #tb})">
            <tr id="th">
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Start</th>
                <th>End</th>
                <th>Customer</th>
                <th>Employee</th>
                <th>Total Cost</th>

                <th class="fit">Operations</th>
            </tr>

            <th:tbody id="tb" th:each="group : ${groups}">
                <tr>
                    <td th:text="${group.getId()}"></td>
                    <td th:text="${group.getName()}"></td>
                    <td th:text="${group.getTourPrice()}"></td>
                    <td th:text="${#dates.format(group.getDateStart(), 'dd/MM/yyyy')}"></td>
                    <td th:text="${#dates.format(group.getDateEnd(), 'dd/MM/yyyy')}"></td>
                    <td th:text="${group.getCustomerCount()}"></td>
                    <td th:text="${group.getEmployeeCount()}"></td>
                    <td th:text="${group.getCostTotal()}"></td>

                    <td class="fit">
                        <div th:replace="Layouts/update_button::btn(id=${group.getId()}, name=${group.getName()}, path='group')"></div>
                        <div th:replace="Layouts/delete_button::btn (id=${group.getId()}, name=${group.getName()}, path='group')"></div>
                    </td>
                </tr>
            </th:tbody>
        </th:block>
    </div>
</th:block>
