<th:block
        th:insert="Layouts/main :: main(title='Create Cost Type', pageName='cost-type', content=~{:: .container-fluid})">
    <div class="container-fluid form-wrap">
        <div th:replace="Layouts/error_message :: error(${error})"></div>

        <form method="post" th:action="@{/cost-type/create}" th:object="${costType}">
            <div class="form-group">
                <label for="name">Name</label>
                <input class="form-control" id="name" type="text" th:field="*{name}" autofocus>
            </div>

            <button type="submit" class="btn btn-primary">Create</button>
            <a class="btn" href="/cost-type">Back</a>
        </form>
    </div>
</th:block>