<th:block
        th:insert="Layouts/main :: main(title='Employee Report', pageName='employee/report', content=~{:: .container-fluid})">
    <div class="container-fluid">
        <div class="row mb-3">
            <div class="offset-6"></div>
            <div th:replace="Layouts/date_range::inp"></div>
        </div>
        <th:block th:insert="Layouts/table::table(title='Employee Report', thead=~{:: #th}, tbody=~{:: #tb})">
            <tr id="th">
                <th>ID</th>
                <th>Name</th>
                <th>Group Count</th>
                <th>Jobs</th>
            </tr>

            <th:tbody id="tb" th:each="employee : ${employees}">
                <tr>
                    <td th:text="${employee.getId()}"></td>
                    <td th:text="${employee.getName()}"></td>
                    <td th:text="${employee.getGroupCount()}"></td>
                    <td th:text="${employee.getJobs()}"></td>
                </tr>
            </th:tbody>
        </th:block>
    </div>
</th:block>
