<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <!-- <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head> -->
  <!-- <head th:replace="~{Layouts/main_layout :: head('Test') }"></head> -->
<head th:replace="Layouts/main_layout :: head(title='Home page')"></head>
  <body>
    Locations:
    <th:ul th:each="location : ${locations}">
      <li th:text="${location.getName()}"></li>
    </th:ul>
    <br /><br /><br />
    Jobs:
    <th:ul th:each="job : ${jobs}">
      <li th:text="${job.getName()}"></li>
    </th:ul>
    <br /><br /><br />
    Employees:
    <th:ul th:each="employee : ${employees}">
      <li th:text="${employee.getName()}"></li>
    </th:ul>
    <br /><br /><br />
  </body>
</html>
