<th:block
        th:insert="Layouts/main :: main(title='Create Location', pageName='location', content=~{:: .container-fluid})">
    <div class="container-fluid form-wrap">
        <h1 class="h1 mb-3 text-gray-800 text-center">Create Location</h1>
        <div th:replace="Layouts/error_message :: error(${entityExistsException})"></div>
        <form onkeydown="return event.key != 'Enter';" method="post" th:action="@{/location/create}" th:object="${location}">
            <div class="form-group">
                <label for="name">Name</label>
                <input class="form-control" id="name" type="text" th:field="*{name}" autofocus>
            </div>

            <button type="submit" class="btn btn-primary">Create</button>
            <a class="btn" href="/location">Back</a>
        </form>
    </div>
</th:block>